h1,
.background-mid h3,
.dark-text-box h3 {
    font-family: 'Calistoga', cursive; 
}

h2, h3, h4 {
    font-family: 'Calistoga', cursive;
}

a {
    color: #bac1b8;
}

a:hover {
    color: white;
    text-decoration: none;
}

.jumbotron {    
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
  url("/public/assets/images/cafe-img-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  color:white;
  height:25vh;
  margin: 0;
  }

nav {
    background: #2A2D34;
}

.about-us {
    background: #bac1b8;
    max-width: 100%;
    height: auto;
}
.menu-img {
    background: url("/public/assets/images/toa-heftiba-W6sqUYlJRiw-unsplash.jpg");
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.location-img {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/assets/images/cafe-img-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    color:white;
    height:auto;
}

.carousel-item{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-dk {
    background: black;
}

.dark-text-box {
    background: rgba(0, 0, 0, 0.5);
    width: auto;
    height: auto;
    margin: 0px 20px 0px 20px;
    
}

.light-text {
    color: white;
}

.card {
        background: #1a181b;
        padding: 2rem;        
    }

.background-mid {
    background: #4281a4;    
}

footer a, a.btn, i {
    color: white;    
}

footer a:hover, a.btn:hover {
    text-decoration: none;
    color: #bac1b8;
}

.page-footer {
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/assets/images/cafe-img-1.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

